services:
  postgres:
    image: postgres:17-alpine
    container_name: balance-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: balance
      POSTGRES_PASSWORD: balanceDB123!
      POSTGRES_DB: balance-transactions
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - balance-network

  redis:
    image: redis:7-alpine
    container_name: balance-redis
    restart: unless-stopped
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - balance-network

networks:
  balance-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
